<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="/box/card/create" method="post">
        <input type="hidden" name="boxId" value="{{boxId}}"/>
        Basic word <input type="text" name="basicWord" />
        Translated word <input type="text" name="translatedWord" />
        <input type="submit"/>
    </form>
</body>
</html>