<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>Do you really want to remove this box? </div>
    <a href="/box/{{id}}/delete"> yes</a>
    <a href="/"> no</a>
</body>
</html>