<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div> This box is empty. Go to other Box.</div>
    <ul>
        <li><a href = "/"> Home </a></li>
    </ul>
</body>
</html>