<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
    .action-button{
        padding:0 10px;
    }
    </style>
</head>
<body>
    <div> THE WRONG ANSWER!</div>
    <div> Correct answer : <input type="text" name="translatedWord" value="{{translatedWord}}"/></div>
<ul>
    <li><a href = "/box/{{id}}/learning/{{display}}"> Next card </a></li>
    <li><a href = "/"> Home </a></li>
</ul>

</body>
</html>